@keyframes up {
    0%{
        opacity: 0;
        transform: translate(0, 15px);
        filter: blur(20px);
    }
    100%{
        opacity: 0.3;
        transform: translate(0, 0);
        filter: blur(0px);
    }
}
@keyframes down {
    0%{
        opacity: 0;
        transform: translate(0, -15px);
        filter: blur(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0px);
    }
}
@keyframes icons {
    0%{
        opacity: 0;
        transform: translate(0, 35px) scale(0.8);
        filter: blur(12px);
    }
    100%{
        opacity: 0.45;
        transform: translate(0, 0) scale(1);
        filter: blur(0);
    }
    
}